.CardItem{
  background-color: white;
  border-style: 2px solid black;
  width: 300px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 15px;
  padding-left: 15px;

}
.title{

}
.status{

}
.pioritySelection{
  margin-top: 10px;
}
.assign_to{
  margin-top: 10px;
}
.createdBy{
  margin-top: 10px;
  display: block;
}
.edit{
  display: inline-block;
  margin-bottom: 8px;
}
.delete{
  display: inline-block;
  margin-left: 10px;
}
