.CardPage{
  background-color: orange;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Inconsolata', monospace;
  h1{

    color: green;
  }
}
.addForum{
  button{
    background-color: purple;
  }
}